* {
    color: #fff;
}
.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.bar {
    flex: 1;
    background-color: #20115B;
    margin: 0 2px;
    border-radius: 2px;
    min-height: 10px;
}
            
#panning-control {
    width: 100%;
}

input[type='range'] {
      overflow: hidden;
      border-radius: 8px;
      -webkit-appearance: none;
      background-color: #20115B;
}
input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #BB8DE4;
}
